<section class="bg-white py-12">
    <div class="container mx-auto text-center">
    
      <h1 class="text-4xl font-bold text-orange-600 mb-12">
        Choose <span class="text-customBlue">Exercises</span>
      </h1>
  
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
        <!-- Box 1: Problem Solving Exercises -->
        <div class="transition hover:scale-90">
        <a
          routerLink="/Student_Problem_Solving"
          class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300"
        >
          <img
            src="../../assets/Problem Solving Exercises.png"
            alt="Problem Solving Exercises"
            class="w-40 h-40 mb-4"
          />
          <h3 class="text-xl font-bold text-blue-900">Problem Solving Exercises</h3>
        </a>
        </div>
  
        <!-- Box 2: Quizzes -->
        <div class="transition hover:scale-90">
        <a
          routerLink="/Student_Quizzes"
          class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300"
        >
          <img
            src="../../assets/QUIZZES.png"
            alt="Quizzes"
            class="w-40 h-40 mb-4"
          />
          <h3 class="text-xl font-bold text-blue-900">Quizzes</h3>
        </a>
        </div>

      </div>
    </div>
  </section>
  