<body class="bg-gray-50 py-10">
    <!-- Container principal -->
    <div class="max-w-7xl mx-auto px-6 space-y-16">
      
      <div class="text-center space-y-6">
        <h1 class="text-3xl font-bold text-center text-blue-800 mb-6">About<span class="text-orangeCustom"> Us</span></h1>
        <div class="flex flex-col md:flex-row items-center gap-6">
          <div class="flex-1">
            <p class="text-4xl font-bold text-customBlue leading-tight">
              Our Platform Inspires Learning, Fosters Creativity, And Drives Growth In STEM Fields.
            </p>
            <p class="text-gray-500 font-semibold mt-6">
              Equip yourself with the STEM skills that will shape tomorrow.
            </p>
          </div>
          <div class="flex-1/2">
            <img src="../../assets/About_us_image.png" alt="Team Image" class="mx-auto rounded-lg w-full max-w-3xl">
          </div>
        </div>
      </div>
  
      <!--histoire -->
      <div class="flex flex-col md:flex-row items-center gap-6 p-6">
      
        <div class="relative flex-shrink-0">
          <img src="../../assets/logowieavecorange.png" alt="WIE Logo" class="w-49 mx-auto">
          <!-- Décorations-->
          <div class="absolute top-2 left-2 text-orange-500 text-xl font-bold">+</div>
          <div class="absolute bottom-2 left-6 text-orange-500 text-xl font-bold">+</div>
        </div>
      
        <div class="text-center md:text-left space-y-4">
          <h2 class="text-orange-600 text-4xl font-bold leading-tight text-center">
            This is where our story begins
          </h2>
          <p class="text-gray-500 text-lg">
            The WIE ENET'COM Student Affinity Group was created at ENET'COM on September 22, 2017, by its founder "Marwen Ayed," who is the former president of "WIE TUNISIA SECTION."
          </p>
        </div>
      </div>
    
      <div class="text-center space-y-8">
        <h2 class="text-4xl font-bold text-customBlue leading-tight">Our Team</h2>
        <p class="text-lg text-gray-600  mx-auto">
          We're a dynamic group of individuals who are passionate about what we do and dedicated to delivering the best results for our clients.
        </p>
      </div>
  
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        <!-- hajer -->
        <div class="bg-white shadow-md rounded-lg p-6">
          <img class="w-full h-56 object-cover rounded-md mb-4" src="../../assets/hajer.jpg">
          <div class="flex items-center gap-2">
            <h3 class="text-xl font-semibold text-gray-800">Hajer Chaieb</h3>
            <!-- Icône LinkedIn -->
            <a href="https://www.linkedin.com/in/hajer-chaieb/" target="_blank" class="text-gray-500 hover:text-orange-500 ">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24">
                <path d="M20.447 20.452H16.89v-5.535c0-1.322-.025-3.025-1.844-3.025-1.846 0-2.128 1.445-2.128 2.938v5.622H9.358V9.354h3.413v1.521h.048c.476-.9 1.637-1.845 3.369-1.845 3.601 0 4.27 2.37 4.27 5.455v6.967zM5.337 8.433a2.003 2.003 0 01-2.002-2.003c0-1.105.897-2.002 2.002-2.002a2.004 2.004 0 010 4.005zm1.716 12.019H3.622V9.354h3.431v11.098zM22.225 0H1.771C.792 0 0 .771 0 1.728v20.543C0 23.229.792 24 1.771 24h20.451C23.208 24 24 23.229 24 22.271V1.728C24 .771 23.208 0 22.225 0z"/>
              </svg>
            </a>
          </div>
          <p class="text-gray-500">Chairwoman WIE Enet'Com SBC</p>
        </div>
        
  
        <!-- dorsaf -->
        <div class="bg-white shadow-md rounded-lg p-6">
          <img class="w-full h-56 object-cover rounded-md mb-4" src="../../assets/Dorsafjallouli.jpg">
          <div class="flex items-center gap-2">
            <h3 class="text-xl font-semibold text-gray-800">Dorsaf Jallouli</h3>
            <!-- Icône LinkedIn -->
            <a href="https://www.linkedin.com/in/hajer-chaieb/" target="_blank" class="text-gray-500 hover:text-orange-500 ">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24">
                <path d="M20.447 20.452H16.89v-5.535c0-1.322-.025-3.025-1.844-3.025-1.846 0-2.128 1.445-2.128 2.938v5.622H9.358V9.354h3.413v1.521h.048c.476-.9 1.637-1.845 3.369-1.845 3.601 0 4.27 2.37 4.27 5.455v6.967zM5.337 8.433a2.003 2.003 0 01-2.002-2.003c0-1.105.897-2.002 2.002-2.002a2.004 2.004 0 010 4.005zm1.716 12.019H3.622V9.354h3.431v11.098zM22.225 0H1.771C.792 0 0 .771 0 1.728v20.543C0 23.229.792 24 1.771 24h20.451C23.208 24 24 23.229 24 22.271V1.728C24 .771 23.208 0 22.225 0z"/>
              </svg>
            </a>
          </div>
          <p class="text-gray-500">Vice Chair WIE Enet'Com SBC</p>
        </div>
  
        <!-- chaima -->
        <div class="bg-white shadow-md rounded-lg p-6">
          <img class="w-full h-56 object-cover rounded-md mb-4" src="../../assets/chaima.JPG">
          <div class="flex items-center gap-2">
            <h3 class="text-xl font-semibold text-gray-800">Chayma Belhaj Mohamed</h3>
            <!-- Icône LinkedIn -->
            <a href="https://www.linkedin.com/in/hajer-chaieb/" target="_blank" class="text-gray-500 hover:text-orange-500 ">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24">
                <path d="M20.447 20.452H16.89v-5.535c0-1.322-.025-3.025-1.844-3.025-1.846 0-2.128 1.445-2.128 2.938v5.622H9.358V9.354h3.413v1.521h.048c.476-.9 1.637-1.845 3.369-1.845 3.601 0 4.27 2.37 4.27 5.455v6.967zM5.337 8.433a2.003 2.003 0 01-2.002-2.003c0-1.105.897-2.002 2.002-2.002a2.004 2.004 0 010 4.005zm1.716 12.019H3.622V9.354h3.431v11.098zM22.225 0H1.771C.792 0 0 .771 0 1.728v20.543C0 23.229.792 24 1.771 24h20.451C23.208 24 24 23.229 24 22.271V1.728C24 .771 23.208 0 22.225 0z"/>
              </svg>
            </a>
          </div>
          <p class="text-gray-500">Webmaster WIE Enet'Com SBC</p>
        </div>

        <!-- zaeineb -->
        <div class="bg-white shadow-md rounded-lg p-6">
          <img class="w-full h-56 object-cover rounded-md mb-4" src="../../assets/zaeinb.png">
          <div class="flex items-center gap-2">
            <h3 class="text-xl font-semibold text-gray-800">Zeinab Jarraya</h3>
            <!-- Icône LinkedIn -->
            <a href="https://www.linkedin.com/in/hajer-chaieb/" target="_blank" class="text-gray-500 hover:text-orange-500 ">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24">
                <path d="M20.447 20.452H16.89v-5.535c0-1.322-.025-3.025-1.844-3.025-1.846 0-2.128 1.445-2.128 2.938v5.622H9.358V9.354h3.413v1.521h.048c.476-.9 1.637-1.845 3.369-1.845 3.601 0 4.27 2.37 4.27 5.455v6.967zM5.337 8.433a2.003 2.003 0 01-2.002-2.003c0-1.105.897-2.002 2.002-2.002a2.004 2.004 0 010 4.005zm1.716 12.019H3.622V9.354h3.431v11.098zM22.225 0H1.771C.792 0 0 .771 0 1.728v20.543C0 23.229.792 24 1.771 24h20.451C23.208 24 24 23.229 24 22.271V1.728C24 .771 23.208 0 22.225 0z"/>
              </svg>
            </a>
          </div>
          <p class="text-gray-500">Secretary WIE Enet'Com SBC</p>
        </div>

      </div>
  
      <!-- Mission et Vision -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-center">
        <div class="bg-white shadow-md p-8 rounded-lg space-y-4">
          <h3 class="text-3xl font-bold text-center text-blue-800 mb-6">Our <span class="text-orangeCustom"> Mission</span></h3>
          <p class="text-gray-600 font-semibold">IEEE WIE aims to inspire, engage, encourage, and empower women in lEEE globally. We envision a dynamic community of IEEE women and men working together to innovate and shape the world of tomorrow.</p>
        </div>
        <div class="bg-white shadow-md p-8 rounded-lg space-y-4">
          <h3 class="text-3xl font-bold text-center text-blue-800 mb-6">Our <span class="text-orangeCustom"> Vison</span></h3>
          <p class="text-gray-600 font-semibold">IEEE WIE envisions a future where gender diversity drives innovation in STEM, empowering women to lead, excel, and inspire a more inclusive, forward-thinking society.</p>
        </div>
      </div>
    </div>
  </body>
  