<div class="bg-white py-12">

    <h1 class="text-3xl font-bold text-center text-blue-800 mb-6">Success<span class="text-orangeCustom"> Stories</span></h1>

    <div class="container mx-auto px-6 space-y-12">

      <div class="max-w-5xl mx-auto py-8">
        <button class="block mx-auto px-8 py-3 bg-gray-200 text-xl font-bold text-orange-500 rounded-lg mb-8">
          Videos
        </button>
        <div class="flex flex-col md:flex-row items-center justify-center space-y-10 md:space-y-0 md:space-x-8 px-4 md:px-8 lg:px-16">

          <div class="w-full md:w-1/2 h-80 md:h-96 rounded-lg overflow-hidden shadow-lg">
            <iframe 
              class="w-full h-full" 
              src="https://www.youtube.com/embed/vgGMm8LBuHk" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
            </iframe>
          </div>          

          <img 
            src="../../assets/Adult_Suces_stories.png" 
            class="w-94 h-96 object-cover rounded-lg shadow-lg"
          />
        </div>
        
      </div>
      
  
      <!-- Section Stories -->
      <div class="max-w-4xl mx-auto px-4 py-8">
        
        <button class="block mx-auto px-6 py-2 bg-gray-200 text-lg font-semibold text-orange-500 rounded-lg mb-6">
          Stories
        </button>
        <div class="bg-customBlue text-white p-8 rounded-lg space-y-6 shadow-lg">
          <h3 class="text-2xl font-bold text-center">
            "The Little Inventor" impresses Moroccans with his innovations <br> <h3 class="text-orange-500"> Bilal Hamouti </h3>
          </h3>
        
          <div class="flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-8 items-center">
            <p class="text-lg leading-relaxed flex-1">
              At just 12 years old, Bilal Hamouti managed to create several smart devices and now has a collection of inventions, including "Safety Glasses," "the Mask of the Future" that helps prevent COVID-19 infections, the "Badri Hari Robot" which mimics hand movements, and a "Smart Trash Bin," among other innovations. Hamouti, known in Morocco as the "Young Inventor," won the Future Engineers category in the 2020 World Robotics Competition, recognizing his achievements.
            </p>
            <img
              src="../../assets/billel Hamouti.png"
              alt="Photo of Bilal Hamouti"
              class="w-80 h-auto object-cover rounded-lg shadow-md"
            />
          </div>
        </div>

        <div class="bg-customBlue text-white p-8 rounded-lg space-y-6 shadow-lg mt-6">
          <h3 class="text-2xl font-bold text-center">
            "Passionate about Space from a Young Age" <br> <h3 class="text-orange-500"> Sarah Al-Amiri </h3>
          </h3>
        
          <div class="flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-8 items-center">
            <p class="text-lg leading-relaxed flex-1">
              Although Sarah Al-Amiri is now a prominent figure, her passion for space science began as a teenager in the United Arab Emirates. At 15, she was already dedicated to learning about technology and space exploration. She went on to play a major role in the UAE’s Mars Mission as the Deputy Project Manager of the Hope Probe, the first Arab mission to Mars. Sarah's journey from a young space enthusiast to a leader in her country's space program inspires countless Arab youth to pursue careers in STEM fields and aspire to reach the stars.</p>
            <img
              src="../../assets/Sarah Al-Amiri.jpg"
              
              class="w-80 h-auto object-cover rounded-lg shadow-md"
            />
          </div>
        </div>

        <div class="bg-customBlue text-white p-8 rounded-lg space-y-6 shadow-lg mt-6">
          <h3 class="text-2xl font-bold text-center">
            "Teen Innovator and Social Impact Leader" <br> <h3 class="text-orange-500"> Omar Al-Busaidy </h3>
          </h3>
        
          <div class="flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-8 items-center">
            <p class="text-lg leading-relaxed flex-1">
              Omar Al-Busaidy, a young Emirati, invented an automated pill dispenser at just 16 years old. His device was designed to help elderly patients and individuals with chronic illnesses remember to take their medication. Omar’s device received widespread recognition and awards in the UAE and beyond, including prizes in Global Innovation Competitions. He continues to develop other socially impactful projects and is dedicated to inspiring Arab youth to use technology to improve people’s lives.</p>
            <img
              src="../../assets/Omar Al-Busaidy.jpg"
              
              class="w-80 h-auto object-cover rounded-lg shadow-md"
            />
          </div>
        </div>

        <div class="bg-customBlue text-white p-8 rounded-lg space-y-6 shadow-lg mt-6">
          <h3 class="text-2xl font-bold text-center">
            "Young Emirati Inventor more short" <br> <h3 class="text-orange-500"> Adeeb Al-Blooshi </h3>
          </h3>
        
          <div class="flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-8 items-center">
            <p class="text-lg leading-relaxed flex-1">
              Adeeb Al-Blooshi, a young inventor from the UAE, gained attention at just 10 years old for creating a <b> waterproof prosthetic leg  </b> for his father. His curiosity led him to develop other innovations, including a smart seatbelt and a <b>robotic vacuum cleaner.</b> Adeeb's work earned him recognition as one of the youngest Arab inventors, and he was named an <b>Arab Hope Maker</b> for his contributions to innovation and his community. His story inspires young Arabs to pursue creativity and problem-solving in STEM fields.</p>
            <img
              src="../../assets/Adeeb Al-Blooshi.jpeg"
              
              class="w-80 h-auto object-cover rounded-lg shadow-md"
            />
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
  