<div class="bg-white py-12 px-4 sm:px-8 md:px-16">

    <h2 class="text-center text-orange-500 text-3xl font-bold mb-8">TIPS</h2>
  
    <!-- Conseils-->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6 md:gap-y-12 md:gap-x-8 items-center">
      <!-- Conseil 1 -->
      <div class="flex bg-customBlue text-white rounded-lg p-6 space-x-4">
        <div class="text-4xl flex-shrink-0">
          <i class="fas fa-user-graduate"></i>
        </div>
        <div>
          <h3 class="font-bold text-lg">Focus on Fundamentals:</h3>
          <p class="text-sm">
            Master core concepts in math and science as
            they are the foundation for understanding advanced topics.
            </p>
        </div>
      </div>
  
      <!-- Conseil 2 -->
      <div class="flex bg-customBlue text-white rounded-lg p-6 space-x-4">
        <div class="text-4xl flex-shrink-0">
          <i class="fas fa-stopwatch"></i>
        </div>
        <div>
          <h3 class="font-bold text-lg">Practice Regularly:</h3>
          <p class="text-sm">
            Solve problems, run experiments, and practice coding frequently to build skills and confidence.
          </p>
        </div>
      </div>
  
      <!-- Conseil 3 -->
      <div class="flex bg-customBlue text-white rounded-lg p-6 space-x-4">
        <div class="text-4xl flex-shrink-0">
          <i class="fas fa-question-circle"></i>
        </div>
        <div>
          <h3 class="font-bold text-lg">Ask Questions:</h3>
          <p class="text-sm">
            Stay curious and seek help from teachers, peers, or online resources whenever a concept is unclear.
          </p>
        </div>
      </div>
  
      <!-- Conseil 4 -->
      <div class="flex bg-customBlue text-white rounded-lg p-6 space-x-4">
        <div class="text-4xl flex-shrink-0">
          <i class="fas fa-flask"></i>
        </div>
        <div>
          <h3 class="font-bold text-lg">Apply What You Learn:</h3>
          <p class="text-sm">
            Engage in real-world projects or experiments to see how STEM concepts work in practical scenarios.
          </p>
        </div>
      </div>
    </div>
  
    <!-- Image STEM -->
    <div class="mt-2 text-center">
      <img src="../../assets/STEM.png" alt="STEM Illustration" class="w-full max-w-md mx-auto" />
    </div>
  </div>
  