<section class=" min-h-screen py-6 sm:py-12 md:py-16 lg:py-20 xl:py-24">
    <div class="container mx-auto flex flex-col md:flex-row items-center px-6 space-y-6 md:space-y-0 md:space-x-12">
      <!-- Texte -->
      <div class="text-center md:text-left">
        <h1 class="text-7xl font-bold text-customBlue">
          Explore, Learn, And Grow With STEM By Your Side.
        </h1>
        <p class="mt-10 text-xl text-gray-600">
          Gain the STEM skills you need to innovate and thrive in the future.
        </p>
        <button class="px-10 py-3 mt-10 text-orange-500 border border-orange-500 rounded text-lg font-bold hover:bg-orange-500 hover:text-white transition duration-400">
          Join Us
        </button> 
        
      </div>
      
      <div>
        <img
          src="../../assets/Hero_image.png"
          alt="Woman with laptop"
          class="w-full rounded-lg"
        />
      </div>
    </div>
  </section>

  <section class="bg-gray-50 py-12">
    <div class="container mx-auto px-4">
      <!-- Title -->
      <h2 class="text-3xl font-bold text-center text-customBlue">
        Our <span class="text-orange-500">Services</span>
      </h2>
  
      <!-- Main content grid -->
      <div class="flex flex-col md:flex-row items-center justify-between mt-10 space-y-10 md:space-y-0">
        <!-- Left Illustration -->
        <div class="flex-shrink-0 w-full md:w-1/2">
          <img
            src="../../assets/Our_Services_Image.png"
            alt="Illustration of teamwork"
            class="w-full rounded-lg"
          />
        </div>
  
        <!-- Right Services Boxes -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full md:w-1/2">
          <!-- Individual Service -->
          <div class="bg-white shadow-lg rounded-lg px-6 py-4 text-center">
            <p class="text-lg font-bold text-customBlue">Courses</p>
          </div>
          <div class="bg-white shadow-lg rounded-lg px-6 py-4 text-center">
            <p class="text-lg font-bold text-orange-500">Activities</p>
          </div>
          <div class="bg-white shadow-lg rounded-lg px-6 py-4 text-center">
            <p class="text-lg font-bold text-orange-500">Success stories</p>
          </div>
          <div class="bg-white shadow-lg rounded-lg px-6 py-4 text-center">
            <p class="text-lg font-bold text-customBlue">Tips</p>
          </div>
          <div class="bg-white shadow-lg rounded-lg px-6 py-4 text-center">
            <p class="text-lg font-bold text-customBlue">Manga</p>
          </div>
          <div class="bg-white shadow-lg rounded-lg px-6 py-4 text-center">
            <p class="text-lg font-bold text-orange-500">Pathway</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  