<section class="bg-white py-12">
    <div class="container mx-auto text-center space-y-8">
      <!-- Titre principal -->
      <h1 class="text-3xl font-bold text-orange-600">Pathway</h1>
  
      <!-- Image principale -->
      <div class="flex justify-center">
        <img src="../../assets/pathway_Image.png" alt="Pathway Diagram" class="w-full max-w-3xl rounded-lg shadow-lg">
      </div>
  
      <!-- Section inférieure -->
      <div class="space-y-8">

        <button class="block mx-auto px-8 py-3 bg-gray-200 text-xl font-bold text-orange-500 rounded-lg mb-8">
            Videos
          </button>
  
        <!-- Bloc 2 : Chaîne YouTube -->
        <div class="bg-customBlue py-10 px-6 rounded-lg shadow-lg relative">

            <a href="https://www.youtube.com/playlist?list=PL5SHAsaG0GGWPKsmFIVKNZVcbtGDL_CR9" target="_blank" class="block">
              
              <div
                class="relative w-full h-96 bg-cover bg-center rounded-lg"
                style="background-image: url('../../assets/cover\ wajahni.jpg');">
                <!-- Bouton de lecture au centre -->
                <button
                  class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-40 hover:bg-opacity-60 rounded-lg transition duration-300"
                  aria-label="Lire" title="Lire">
                  <svg xmlns="http://www.w3.org/2000/svg" height="80" width="120" viewBox="0 0 68 48" class="w-20 h-20">
                    <path fill="#f00"
                      d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z">
                    </path>
                    <path fill="#fff" d="M 45,24 27,14 27,34"></path>
                  </svg>
                </button>
              </div>
            </a>
          </div>
               
      </div>
    </div>
  </section>
  