<section class="bg-white py-12">
    <div class="container mx-auto text-center">
      
      <h1 class="text-4xl font-bold text-orange-600 mb-8">Courses</h1>
  
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
  
        <!-- Artificial intelligence -->
        <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

            <img src="../../assets/ia.png"class="w-52 h-52 mb-4 mx-auto">

            <h3 class="text-xl font-semibold text-customBlue mb-2">Artificial intelligence</h3>

            <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
              <a href="https://www.simplilearn.com/tutorials/machine-learning-tutorial/introduction-to-machine-learning" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
                Documentation
              </button>
              </a>
              <a href="https://www.youtube.com/watch?v=qlqrZD88Dis" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
                Video
              </button>
              </a>
            </div>

        </div>
  
        <!-- internet of things -->
        <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

          <img src="../../assets/iot.png"class="w-52 h-52 mb-4 mx-auto">

          <h3 class="text-xl font-semibold text-customBlue mb-2">Internet Of Things</h3>

          <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
            <a href="https://docs.iotcreators.com/docs/how-to-use-nb-iot-lte-m" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
              Documentation
            </button>
            </a>
            <a href="https://www.youtube.com/watch?v=w83ouKwLD0o" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
              Video
            </button>
            </a>
          </div>

      </div>
  
        <!-- 3D printing-->
        <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

          <img src="../../assets/3D.jpg"class="w-52 h-52 mb-4 mx-auto">

          <h3 class="text-xl font-semibold text-customBlue mb-2">3D Printing</h3>

          <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
            <a href="https://www.humlab.lu.se/education/group-tutorials/introduction-to-3d-documentation-techniques/" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
              Documentation
            </button>
            </a>
            <a href="https://www.youtube.com/watch?v=T_vLv3hIMGM" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
              Video
            </button>
            </a>
          </div>

      </div>

        <!-- Cyber Security -->
        <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

          <img src="../../assets/CYBER.jpg"class="w-52 h-52 mb-4 mx-auto">

          <h3 class="text-xl font-semibold text-customBlue mb-2">Cyber Security</h3>

          <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
            <a href="https://medium.com/@ricardonewman/cyber-security-documentation-67a7aad80bf4" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
              Documentation
            </button>
            </a>
            <a href="https://www.youtube.com/watch?v=Asxu8gO1Jt4" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
              Video
            </button>
            </a>
          </div>

      </div>
        
      </div>
      
    </div>
<!-- --------------------------------- -->
    <div class="container mx-auto text-center mt-6">
  
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
  
        <!-- blockchain -->
        <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

            <img src="../../assets/blockchain.jpg"class="w-52 h-52 mb-4 mx-auto">

            <h3 class="text-xl font-semibold text-customBlue mb-2">Blockchain</h3>

            <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
              <a href="https://www.ibm.com/topics/blockchain" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
                Documentation
              </button>
              </a>
              <a href="https://www.youtube.com/watch?v=yubzJw0uiE4" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
                Video
              </button>
              </a>
            </div>

        </div>
  
        <!-- python -->
        <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

          <img src="../../assets/python-logo.png"class="w-52 h-52 mb-4 mx-auto">

          <h3 class="text-xl font-semibold text-customBlue mb-2">Python</h3>

          <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
            <a href="https://docs.python.org/3/" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
              Documentation
            </button>
            </a>
            <a href="https://www.youtube.com/watch?v=kqtD5dpn9C8&t=30s" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
              Video
            </button>
            </a>
          </div>

      </div>
  
        <!-- HTML-->
        <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

          <img src="../../assets/HTML.jpg"class="w-52 h-52 mb-4 mx-auto">

          <h3 class="text-xl font-semibold text-customBlue mb-2">HTML</h3>

          <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
            <a href="https://www.w3schools.com/html/default.asp" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
              Documentation
            </button>
            </a>
            <a href="https://youtu.be/FQdaUv95mR8?si=v38RhEeSw3LkFPhd" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
              Video
            </button>
            </a>
          </div>

      </div>

        <!-- CSS -->
        <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

          <img src="../../assets/CSS.png"class="w-52 h-52 mb-4 mx-auto">

          <h3 class="text-xl font-semibold text-customBlue mb-2">CSS</h3>

          <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
            <a href="https://www.w3schools.com/css/default.asp" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
              Documentation
            </button>
            </a>
            <a href="https://youtu.be/1PnVor36_40?si=qottonF-vOsL4aJY" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
              Video
            </button>
            </a>
          </div>

      </div>
        
      </div>
      
    </div>
<!-- --------------------------------- -->
<div class="container mx-auto text-center mt-6">
  
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

    <!-- Bootstrap -->
    <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

        <img src="../../assets/bootstrap-logo-vector.png"class="w-52 h-52 mb-4 mx-auto">

        <h3 class="text-xl font-semibold text-customBlue mb-2">Bootstrap</h3>

        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
          <a href="https://www.w3schools.com/bootstrap/bootstrap_ver.asp" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
            Documentation
          </button>
          </a>
          <a href="https://youtu.be/65EFKUpYk2A?si=C_da9AFFs3oCfh5D" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
            Video
          </button>
          </a>
        </div>

    </div>

    <!-- Java Script -->
    <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

        <img src="../../assets/JS.png"class="w-52 h-52 mb-4 mx-auto">

        <h3 class="text-xl font-semibold text-customBlue mb-2">Java Script</h3>

        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
          <a href="https://www.w3schools.com/js/default.asp" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
            Documentation
          </button>
          </a>
          <a href="https://youtu.be/asToYAq0F-I?si=V_4wwb9bd-QDkL4t" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
            Video
          </button>
          </a>
        </div>

    </div>

    <!-- PHP -->
    <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

      <img src="../../assets/PHP-logo.svg.png"class="w-52 h-52 mb-4 mx-auto">

      <h3 class="text-xl font-semibold text-customBlue mb-2">PHP</h3>

      <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
        <a href="https://www.w3schools.com/php/default.asp" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
          Documentation
        </button>
        </a>
        <a href="https://youtu.be/cWoq5znh0vw?si=KLNr7C6iELgwQzY6" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
          Video
        </button>
        </a>
      </div>

  </div>

    <!-- XML-->
    <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

      <img src="../../assets/XML.png"class="w-52 h-52 mb-4 mx-auto">

      <h3 class="text-xl font-semibold text-customBlue mb-2">XML</h3>

      <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
        <a href="https://www.w3schools.com/xml/default.asp" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
          Documentation
        </button>
        </a>
        <a href="https://youtu.be/qYautt5rTaA?si=w8HN_i7TexUNes5R" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
          Video
        </button>
        </a>
      </div>

  </div>
    
  </div>
  
</div>    

<!-- --------------------------------- -->
<div class="container mx-auto text-center mt-6">
  
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

    <!-- React -->
    <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

        <img src="../../assets/REACT.png"class="w-52 h-52 mb-4 mx-auto">

        <h3 class="text-xl font-semibold text-customBlue mb-2">React</h3>

        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
          <a href="https://www.w3schools.com/react/default.asp" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
            Documentation
          </button>
          </a>
          <a href="https://youtu.be/fJSFus0pxZI?si=TmmbrmD6qYFeGrj8" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
            Video
          </button>
          </a>
        </div>

    </div>

    <!-- SQL -->
    <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

        <img src="../../assets/SQL-Database.png"class="w-52 h-52 mb-4 mx-auto">

        <h3 class="text-xl font-semibold text-customBlue mb-2">SQL</h3>

        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
          <a href="https://www.w3schools.com/sql/default.asp" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
            Documentation
          </button>
          </a>
          <a href="https://youtu.be/iHKE_4KeNWQ?si=1_6pMFSiG1yG8_gN" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
            Video
          </button>
          </a>
        </div>

    </div>

    <!-- JAVA -->
    <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

      <img src="../../assets/java logo.png"class="w-52 h-52 mb-4 mx-auto">

      <h3 class="text-xl font-semibold text-customBlue mb-2">Java</h3>

      <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
        <a href="https://www.w3schools.com/java/default.asp" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
          Documentation
        </button>
        </a>
        <a href="https://www.youtube.com/watch?v=VqKZ0tRwUIc&list=PLXJw8DkEYeSMkE08RRwdw3JVjGM-pGDec" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
          Video
        </button>
        </a>
      </div>

  </div>

    <!-- Spring Boot-->
    <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

      <img src="../../assets/Spring logo.png"class="w-52 h-52 mb-4 mx-auto">

      <h3 class="text-xl font-semibold text-customBlue mb-2">Spring Boot</h3>

      <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
        <a href="https://spring.io/projects/spring-boot/" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
          Documentation
        </button>
        </a>
        <a href="https://www.youtube.com/watch?v=6r-MpAWVw6c" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
          Video
        </button>
        </a>
      </div>

  </div>
    
  </div>
  
</div>  

<!-- --------------------------------- -->
<div class="container mx-auto text-center mt-6">
  
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

    <!-- C -->
    <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

        <img src="../../assets/C.png"class="w-52 h-52 mb-4 mx-auto">

        <h3 class="text-xl font-semibold text-customBlue mb-2">React</h3>

        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
          <a href="https://www.w3schools.com/c/index.php" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
            Documentation
          </button>
          </a>
          <a href="https://youtu.be/ssJY5MDLjlo?si=C9VCpNIz5PLXjImp" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
            Video
          </button>
          </a>
        </div>

    </div>

    <!-- C ++ -->
    <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

        <img src="../../assets/C++.png"class="w-52 h-52 mb-4 mx-auto">

        <h3 class="text-xl font-semibold text-customBlue mb-2">C ++</h3>

        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
          <a href="https://www.w3schools.com/cpp/default.asp" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
            Documentation
          </button>
          </a>
          <a href="https://youtu.be/GQp1zzTwrIg?si=pJaq-JyGhT_PIRFF" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
            Video
          </button>
          </a>
        </div>

    </div>

    <!-- Labview -->
    <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

      <img src="../../assets/labview logo.jpg"class="w-52 h-52 mb-4 mx-auto">

      <h3 class="text-xl font-semibold text-customBlue mb-2">LabView</h3>

      <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
        <a href="https://www.ni.com/en/shop/labview.html?srsltid=AfmBOooEsujvUekEBGb-NfjgaQtcwFMBOzhUnIbfezqy0Y8GfKvHOhZg" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
          Documentation
        </button>
        </a>
        <a href="https://www.youtube.com/watch?v=ZHNlKyYzrPE&list=PLB968815D7BB78F9C" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
          Video
        </button>
        </a>
      </div>

  </div>

    <!-- matlab-->
    <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">

      <img src="../../assets/Matlab logo.jpg"class="w-52 h-52 mb-4 mx-auto">

      <h3 class="text-xl font-semibold text-customBlue mb-2">Matlab</h3>

      <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
        <a href="https://www.mathworks.com/products/matlab.html" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
          Documentation
        </button>
        </a>
        <a href="https://www.youtube.com/watch?v=1XiIZczRyAQ&list=PLho7ncbqgQbviwKeoJybXPnFY5t590dRJ" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
          Video
        </button>
        </a>
      </div>

  </div>
    
  </div>
  
</div> 

</section>
  