<section class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="container mx-auto flex flex-col lg:flex-row items-center px-4 md:px-10 space-y-8 lg:space-y-0 lg:space-x-12">

    <div class="bg-white shadow-lg rounded-lg p-8 w-full lg:w-1/2">
      <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">
        <span class="text-customBlue">Create</span>
        <span class="ml-2 text-orange-500">Account</span>
      </h2>
      <form class="space-y-4" (ngSubmit)="onSubmit()">
        <input [(ngModel)]="firstName" name="firstName" type="text" placeholder="First Name" required class="w-full border border-gray-300 rounded-lg px-4 py-2 text-gray-800 focus:outline-none focus:ring-2 focus:ring-orange-500" />
        
        <input [(ngModel)]="lastName" name="lastName" type="text" placeholder="Last Name" required class="w-full border border-gray-300 rounded-lg px-4 py-2 text-gray-800 focus:outline-none focus:ring-2 focus:ring-orange-500" />
        
        <input [(ngModel)]="email" name="email" type="email" placeholder="Email Address" required class="w-full border border-gray-300 rounded-lg px-4 py-2 text-gray-800 focus:outline-none focus:ring-2 focus:ring-orange-500" />
        
        <div class="flex items-center justify-center space-x-6 mt-4">
          <label class="flex items-center space-x-2">
            <input [(ngModel)]="userType" name="userType" type="radio" value="Student" required class="w-5 h-5 text-orange-500 border-orange-500 focus:ring-orange-500 focus:ring-2" />
            <span class="text-md text-gray-700">Student</span>
          </label>
          <label class="flex items-center space-x-2">
            <input [(ngModel)]="userType" name="userType" type="radio" value="Adult" required class="w-5 h-5 text-blue-600 border-orange-500 focus:ring-orange-500 focus:ring-2" />
            <span class="text-md text-gray-700">Adult</span>
          </label>
        </div>
        
        <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required class="w-full border border-gray-300 rounded-lg px-4 py-2 text-gray-800 focus:outline-none focus:ring-2 focus:ring-orange-500" />
        
        <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" required class="w-full border border-gray-300 rounded-lg px-4 py-2 text-gray-800 focus:outline-none focus:ring-2 focus:ring-orange-500" />
        
        <button type="submit" class="w-full bg-orange-500 text-white font-bold rounded-lg px-4 py-2 hover:bg-orange-600 transition duration-300">Create Account</button>
      </form>
      
      <div class="mt-6 text-center">
        <p class="text-gray-600">Already created? 
          <a routerLink="/Sign_In" class="text-customBlue font-semibold hover:text-orange-500">Sign In</a>
        </p>
        
        <!-- Séparateur -->
        <div class="flex items-center my-6">
          <div class="flex-grow h-px bg-gray-300"></div>
          <span class="px-4 text-sm text-gray-500">or</span>
          <div class="flex-grow h-px bg-gray-300"></div>
        </div>
        
        <!-- Boutons Réseaux sociaux -->
        <div class="flex space-x-4 justify-center mt-6">
          <button class="flex items-center px-4 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 transition duration-300">
            <i class="fab fa-facebook-f mr-2"></i> Facebook
          </button>
          <button class="flex items-center px-4 py-2 bg-red-500 text-white rounded-lg shadow hover:bg-red-600 transition duration-300">
            <i class="fab fa-google mr-2"></i> Gmail
          </button>
          <button class="flex items-center px-4 py-2 bg-black text-white rounded-lg shadow hover:bg-gray-800 transition duration-300">
            <i class="fab fa-apple mr-2"></i> Apple
          </button>
        </div>
      </div>
    </div>
    
    <div class="w-full lg:w-1/2">
      <img src="../../assets/Sign_Up.png" alt="Illustration" class="h-auto">
    </div>
  </div>

  <!-- Modal -->
  <div *ngIf="showModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-lg p-8 w-4/5 max-w-lg">
      <h3 class="text-2xl font-semibold text-center mb-4 text-orange-500">Account Created Successfully!</h3>
      <p class="text-gray-700 text-center mb-6">
        Dear {{ userType }}, your account was created successfully. <br />
        Go to <strong class="text-customBlue" >Sign In</strong> and enjoy your journey!
      </p>
      <div class="flex justify-center">
        <button (click)="goToSignIn()" class="bg-white text-orange-500 px-4 py-2 border border-orange-500 rounded-lg hover:bg-orange-500 hover:text-white transition duration-200">Go to Sign In</button>
      </div>
    </div>
  </div>
</section>
