<section class="bg-white py-12">
    <div class="container mx-auto text-center mt-6">
    
        <h1 class="text-4xl font-bold text-center text-customBlue mb-6">Adopting <span class="text-orangeCustom"> New Technologies</span></h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        
          <!-- Power Point Presentation -->
          <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">
        
              <img src="../../assets/power point.png"class="w-52 h-52 mb-4 mx-auto">
        
              <h3 class="text-xl font-semibold text-customBlue mb-2">Power Point Presentation</h3>
        
              <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-8">
        
                <a href="https://youtu.be/JmVWz2PFVA0" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
                  Video
                </button>
                </a>
              </div>
        
          </div>
        
          <!-- Teaching Online -->
          <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">
        
            <img src="../../assets/online.jpeg"class="w-52 h-52 mb-4 mx-auto">
        
            <h3 class="text-xl font-semibold text-customBlue mb-2">Teaching Online</h3>
        
            <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-8">
        
              <a href="https://www.youtube.com/watch?v=okE4YKwXbJ4&pp=ygURVE9PTFMgRk9SIFRFQUNIRVI%3D" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
                Video
              </button>
              </a>
            </div>
        
          </div>
        
          <!-- AI tools  -->
          <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">
        
            <img src="../../assets/ai tools.jpeg"class="w-52 h-52 mb-4 mx-auto">
        
            <h3 class="text-xl font-semibold text-customBlue mb-2">AI Tools</h3>
        
            <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-8">
        
              <a href="https://youtu.be/q669WUQmxOI" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
                Video
              </button>
              </a>
            </div>
        
            </div>
        
          <!-- Napkin ai  -->
          <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">
        
            <img src="../../assets/napkin ia.jpg"class="w-52 h-52 mb-4 mx-auto">
        
            <h3 class="text-xl font-semibold text-customBlue mb-2">Napkin AI</h3>
        
            <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-8">
        
              <a href="https://youtu.be/94szuSyTSJg?si=DIGVilt93MZBWd5m" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
                Video
              </button>
              </a>
            </div>
        
          </div>
          
        </div>
        
    </div>
<!-- -------------------------- -->
    <div class="container mx-auto text-center mt-6">
    
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8">
        
          <!-- Kahoot -->
          <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">
        
              <img src="../../assets/kahoot.jpg"class="w-52 h-52 mb-4 mx-auto">
        
              <h3 class="text-xl font-semibold text-customBlue mb-2">Kahoot</h3>
        
              <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-8">
        
                <a href="https://www.youtube.com/watch?v=xGOLi56UQ3U" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
                  Video
                </button>
                </a>
              </div>
        
          </div>
        
          <!-- Parents Tips -->
          <div class="flex flex-col items-center bg-gray-100 p-6 rounded-lg shadow-lg">
        
            <img src="../../assets/parents tips.jpeg"class="w-52 h-52 mb-4 mx-auto">
        
            <h3 class="text-xl font-semibold text-customBlue mb-2">Parents Tips</h3>
        
            <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-8">
        
              <a href="https://www.youtube.com/watch?v=KABB4Kr7WhU" target="_blank"><button class="py-2 px-4 text-orange-600 border-2 border-orangeCustom rounded-lg hover:bg-orange-500 hover:text-white transition duration-400">
                Video
              </button>
              </a>
            </div>
        
          </div>
    
        </div>
        
    </div>
</section>    