<div class="bg-white py-12">

    <h1 class="text-3xl font-bold text-center text-blue-800 mb-6">Success<span class="text-orangeCustom"> Stories</span></h1>

    <div class="container mx-auto px-6 space-y-12">

      <div class="max-w-5xl mx-auto py-8">
        <button class="block mx-auto px-8 py-3 bg-gray-200 text-xl font-bold text-orange-500 rounded-lg mb-8">
          Videos
        </button>
        <div class="flex flex-col md:flex-row items-center justify-center space-y-8 md:space-y-0 md:space-x-8">
          
          <div class="bg-customBlue text-white flex items-center justify-center w-80 h-72 text-center text-lg rounded-lg">
            3ana vd msawar
          </div>
          
          <img src="../../assets/Success Stories.png" alt="Placeholder image" class="w-64 h-64 object-cover rounded-lg shadow-lg" />
        </div>
      </div>
      
  
      <!-- Section Stories -->
      <div class="max-w-4xl mx-auto px-4 py-8">
        
        <button class="block mx-auto px-6 py-2 bg-gray-200 text-lg font-semibold text-orange-500 rounded-lg mb-6">
          Stories
        </button>
        <div class="bg-customBlue text-white p-8 rounded-lg space-y-6 shadow-lg">
          <h3 class="text-2xl font-bold text-center">
            The Little Inventor" impresses Moroccans with his innovations — Bilal Hamouti.
          </h3>

          <div class="flex space-x-8">
            <p class="text-lg leading-relaxed">
              At just 12 years old, Bilal Hamouti managed to create several smart devices and now has a collection of inventions, including "Safety Glasses," "the Mask of the Future" that helps prevent COVID-19 infections, the "Badri Hari Robot" which mimics hand movements, and a "Smart Trash Bin," among other innovations. Hamouti, known in Morocco as the "Young Inventor," won the Future Engineers category in the 2020 World Robotics Competition, recognizing his achievements.
            </p>
            <img src="../../assets/billel Hamouti.png" alt="Photo 1" class="w-60 h-32 object-cover rounded-lg shadow-md" />
          </div>
        </div>
      </div>
      
    </div>
  </div>
  