<section class="bg-gray-100 min-h-screen py-10">
  <h1 class="text-3xl font-bold text-center text-blue-800 mb-8">
    Vital <span class="text-orange-500">Links</span>
  </h1>

  <div class="container mx-auto grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6">
    <a href="https://kahoot.com/" target="_blank">
      <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition transform hover:scale-105">
        <img src="../../assets/Kahoot.png" alt="Kahoot" class="rounded w-32 h-32 mb-4">
        <h2 class="text-xl font-bold text-orange-500">Kahoot</h2>
      </div>
    </a>

    <a href="https://monica.im/" target="_blank">
      <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition transform hover:scale-105">
        <img src="../../assets/monica.png" alt="Monica" class="rounded w-32 h-32 mb-4">
        <h2 class="text-xl font-bold text-orange-500">Monica</h2>
      </div>
    </a>

    <a href="https://wordwall.net/" target="_blank">
      <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition transform hover:scale-105">
        <img src="../../assets/wordwall.png" alt="Wordwall" class="rounded w-32 h-32 mb-4">
        <h2 class="text-xl font-bold text-orange-500">Wordwall</h2>
      </div>
    </a>

    <a href="https://quizizz.com/" target="_blank">
      <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition transform hover:scale-105">
        <img src="../../assets/Quizizz.png" alt="Quizizz" class="rounded w-32 h-32 mb-4">
        <h2 class="text-xl font-bold text-orange-500">Quizizz</h2>
      </div>
    </a>

    <a href="https://www.canva.com/" target="_blank">
      <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition transform hover:scale-105">
        <img src="../../assets/canva.png" alt="Canva" class="rounded w-32 h-32 mb-4">
        <h2 class="text-xl font-bold text-orange-500">Canva</h2>
      </div>
    </a>

    <a href="https://www.today.com/specials/curriculum-for-homeschool-grade-guide/" target="_blank">
      <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition transform hover:scale-105">
        <img src="../../assets/Today.png" alt="Today" class="rounded w-32 h-32 mb-4">
        <h2 class="text-xl font-bold text-orange-500">Today</h2>
      </div>
    </a>

    <a href="https://www.youtube.com/@CodingBeTounsi" target="_blank">
      <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition transform hover:scale-105">
        <img src="../../assets/codingbetounsi.png" alt="Coding BeTounsi" class="rounded w-32 h-32 mb-4">
        <h2 class="text-xl font-bold text-orange-500">Coding BeTounsi</h2>
      </div>
    </a>

    <a href="https://www.t3alem.tn/" target="_blank">
      <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition transform hover:scale-105">
        <img src="../../assets/t3alem_tn.png" alt="T3alam B Tounsi" class="rounded w-32 h-32 mb-4">
        <h2 class="text-xl font-bold text-orange-500">T3alam B Tounsi</h2>
      </div>
    </a>

    <a href="https://www.coursera.org/" target="_blank">
      <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition transform hover:scale-105">
        <img src="../../assets/coursera.png" alt="Coursera" class="rounded w-32 h-32 mb-4">
        <h2 class="text-xl font-bold text-orange-500">Coursera</h2>
      </div>
    </a>

    <a href="https://code.org/students" target="_blank">
      <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition transform hover:scale-105">
        <img src="../../assets/code.png" alt="Code.org" class="rounded w-32 h-32 mb-4">
        <h2 class="text-xl font-bold text-orange-500">Code</h2>
      </div>
    </a>

    <a href="https://www.udemy.com/" target="_blank">
      <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition transform hover:scale-105">
        <img src="../../assets/udemy.png" alt="Udemy" class="rounded w-32 h-32 mb-4">
        <h2 class="text-xl font-bold text-orange-500">Udemy</h2>
      </div>
    </a>

    <a href="https://www.takiacademy.com/" target="_blank">
      <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition transform hover:scale-105">
        <img src="../../assets/taki_acedimy.png" alt="Taki Academy" class="rounded w-32 h-32 mb-4">
        <h2 class="text-xl font-bold text-orange-500">Taki Academy</h2>
      </div>
    </a>
  </div>
</section>
