<h1 class="text-3xl font-bold text-center text-blue-800 mb-0 mt-6">Vital <span class="text-orangeCustom"> Links</span></h1>
<div class="container mx-auto grid grid-cols-2 gap-4 min-h-screen py-6 sm:py-12 md:py-16 lg:py-20 xl:py-24 mt-0">
    <a href="https://www.youtube.com/@CodingBeTounsi" target="_blank">
    <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center justify-center">
      <img src="../../assets/codingbetounsi.png"  class="rounded w-45 h-30 mb-4 transition hover:scale-110">
      <h2 class="text-xl font-bold mb-2 text-orange-500">Coding BeTounsi</h2>
    </div>
    </a>
  
    <a href="https://www.t3alem.tn/" target="_blank">
    <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center justify-center">
      <img src="../../assets/t3alem_tn.png"  class="rounded w-45 h-30 mb-4 transition hover:scale-110">
      <h2 class="text-xl font-bold mb-2 text-orange-500">T3alam B Tounsi</h2>
    </div>
    </a>

    <a href="https://www.coursera.org/" target="_blank">
    <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center justify-center">
        <img src="../../assets/coursera.png"  class="rounded w-45 h-30 mb-4 transition hover:scale-110">
        <h2 class="text-xl font-bold mb-2 text-orange-500">Coursera</h2>
    </div>
    </a>
    
    <a href="https://code.org/students" target="_blank">
      <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center justify-center">
        <img src="../../assets/code.png"  class="rounded w-45 h-30 mb-4 transition hover:scale-110">
        <h2 class="text-xl font-bold mb-2 text-orange-500">Code</h2>
      </div>
    </a>  

    <a href="https://www.udemy.com/" target="_blank">
      <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center justify-center">
      <img src="../../assets/udemy.png"  class="rounded w-45 h-30 mb-4 transition hover:scale-110">
      <h2 class="text-xl font-bold mb-2 text-orange-500">Udemy</h2>
    </div>
    </a>

    <a href="https://www.takiacademy.com/" target="_blank">
    <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center justify-center">
      <img src="../../assets/taki_acedimy.png"  class="rounded w-45 h-30 mb-4 transition hover:scale-110">
      <h2 class="text-xl font-bold mb-2 text-orange-500">Taki Academy</h2>
    </div>
    </a>

  </div>