<section class="min-h-screen py-6 sm:py-12 md:py-16 lg:py-20 xl:py-24">
  <div class="container mx-auto flex flex-col md:flex-row items-center px-6 space-y-6 md:space-y-0 md:space-x-12">
    <!-- Texte à gauche -->
    <div class="text-center md:text-left">
      <h1 class="text-4xl font-bold text-customBlue">
        Empower the next generation with STEM! As mentors and guides, your role is vital in shaping tomorrow's innovators.
      </h1>
      <p class="mt-10 text-xl text-gray-600">
        Unlock your child's potential - equip them with STEM skills to lead, create, and thrive in tomorrow's world!
      </p>
    </div>

    <!-- Image à droite -->
    <div>
      <img
        src="../../assets/Adult_Home.png"
        alt="Woman with laptop"
        class="w-full rounded-lg"
      />
    </div>
  </div>

  <!-- Section centrée -->
  <div class="flex flex-col md:flex-row items-center justify-center text-center md:text-left space-y-4 md:space-y-0 md:space-x-4 mt-12">
    <h1 class="text-lg sm:text-xl md:text-2xl font-bold text-customBlue">
      Survey for Student Engagement in STEM and Career Intentions.
    </h1>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSefXlDiLKGwnwhlVIC-A-kTYBZ_C5N8vt--N81CLvQm0b61ow/viewform?fbclid=IwZXh0bgNhZW0CMTEAAR0lOV_ldm2ux-i1n9flTMTBMZh5t-xE_IY40OxDBQO4WlqTsMVWLZeBDgo_aem_Cd3QuhIw778wmmI9C6aAuA"
      target="_blank"
    >
      <button class="px-6 sm:px-8 md:px-10 py-3 text-orange-500 border border-orange-500 rounded text-sm sm:text-lg font-bold hover:bg-orange-500 hover:text-white transition duration-300">
        Fill The Form
      </button>
    </a>
  </div>

</section>
